*.sqlite*
/vendor/
/node_modules/

/.env
.env.*

/storage/*
!/storage/app/
!/storage/framework/
!/storage/framework/cache/
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/
!/storage/framework/views/
!/storage/framework/testing/
!/storage/logs/
!/storage/logs/.gitignore

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/.idea
/.vscode

*.log
*.sqlite
.phpunit.result.cache